@media (max-width: 1024px) {
  aside {
    display: none !important;
  }
}

aside {}
  aside header, ul, footer {
    padding: 1rem 1.5rem;
  }
  aside header {
    background-color: rgba(0,0,0,0.25);
    font-size: 125%;
    font-weight: bold;
  }
  aside strong {
    font-size: 80%;
    font-weight: normal;
  }

  aside a {
    text-decoration: none;
    color: #007FFF;
  }
    aside a:hover {
      color: #fff;
    }
  aside footer {
    font-size: 75%;
    background-color: rgba(255,255,255,0.025);
  }
    aside footer  {
      line-height: 2rem;
    }
    aside footer img {
      height: 2rem;
      width: 2rem;
      margin-right: .5rem;
      border-radius: 50%;
    }
    aside footer a {
      margin-left: .5rem;
      font-weight: bold;
    }


.landing {
  margin: 5rem 0;
}
  .landing h1 {
    font-size: 6rem;
  }
  .landing h5 {
    padding: 0 2.5%;
  }
  .landing button[disabled], .landing button[disabled]:hover{
    background-color: #eee;
    border-color: #ccc;
    color: #666;
  }
  .landing pre {
    width: 30%;
    margin: 0 auto;
  }

.container {
  padding: 4rem 0
}

.row > h6 {
  padding-top: 2rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.box-container {
  padding: 0.5rem;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  border-radius: 2px;
  min-height: 16rem;
}
  .box-container > .box {
    margin: 0.5rem;
    min-width: 5rem;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .box {
    padding: 0.25rem 0.75rem;
    font-size: 75%;
    border-radius: 2px;
    color: rgba(255,255,255,0.75);
    background-color: #007FFF;
  }
