.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  display                     : inline-block
  height                      : FORM_HEIGHT
  padding                     : 0 (1rem * UNIT)
  margin-bottom               : UNIT
  font-size                   : FONT_SIZE_TINY
  line-height                 : FORM_HEIGHT
  text-align                  : center
  text-decoration             : none
  white-space                 : nowrap
  background-color            : transparent
  cursor                      : pointer
  box-sizing                  : border-box
  &:hover, &:focus
    outline                   : 0
