table
  width: 100%
  th
    font-size: FONT-SIZE-SMALL
  th, td
    padding           : (1.35 * UNIT) UNIT
    text-align        : left
    &:first-child
      padding-left    : 0
    &:last-child
      padding-right   : 0
