.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  display                     : inline-block
  height                      : FORM-HEIGHT
  padding                     : 0 (2 * UNIT)
  margin-bottom               : UNIT
  text-align                  : center
  font-size                   : FONT-SIZE-TINY
  font-weight                 : 600
  line-height                 : FORM-HEIGHT
  letter-spacing              : .1rem
  text-transform              : uppercase
  text-decoration             : none
  white-space                 : nowrap
  background-color            : transparent
  cursor                      : pointer
  box-sizing                  : border-box
  &:hover, &:focus
    outline                   : 0
