// -- CONSTANTS ----------------------------------------------------------------
FONT-SIZE                   = 16px
FONT-FAMILY                 = "Raleway"
FONT-WEIGHT-NORMAL          = 400
UNIT                        = 1rem

COLOR                       = #001A33
BACKGROUND                  = #f5f5f5
THEME                       = #007FFF
WHITE                       = #fff

// -- BASE ---------------------------------------------------------------------
html
  font-size                 : 62.5%

body
  font-size                 : 1.5em
  line-height               : 1.6
  font-weight               : FONT-WEIGHT-NORMAL
  font-family               : "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  color                     : COLOR

.container
  position                  : relative
  width                     : 80%
  max-width                 : 960px
  margin                    : 0 auto
  padding                   : 0

.row
  display                   : block
  margin-bottom             : 1.5rem

.container, .row
  &:after
    content                 : ""
    display                 : table
    clear                   : both

.bck
  background-color          : BACKGROUND
  &.theme
    background-color        : THEME
    color                   : WHITE
  &.color
    background-color        : COLOR

.color
  &.white
    color                   : WHITE
  &.theme
    color                   : THEME

.align
  &.center
    text-align: center


input, textarea, select, fieldset
  margin-bottom             : 1.5rem

pre, blockquote, form, dl, figure, table, p, ul, ol, form
  margin-bottom             : 2.5rem
