// -- CONSTANTS ----------------------------------------------------------------
FONT-SIZE                   = 1.5em
FONT-FAMILY                 = "Raleway"
FONT-WEIGHT-NORMAL          = 400
FONT-SIZE-SMALL             = 90%
UNIT                        = 1rem

COLOR                       = #001A33
BACKGROUND                  = #f8f8f8
THEME                       = #007FFF
WHITE                       = #fff

// -- BASE ---------------------------------------------------------------------
html
  font-size                 : 62.5%

body
  font-size                 : FONT-SIZE
  line-height               : 1.6
  font-weight               : FONT-WEIGHT-NORMAL
  font-family               : "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  color                     : COLOR

.container
  position                  : relative
  width                     : 80%
  max-width                 : 960px
  margin                    : 0 auto
  padding                   : 0

.row
  display                   : block

.container, .row
  &:after
    content                 : ""
    display                 : table
    clear                   : both

.bck
  background-color          : BACKGROUND
  &.theme
    background-color        : THEME
    color                   : WHITE
  &.color
    background-color        : COLOR

.color
  &.white
    color                   : WHITE
  &.theme
    color                   : THEME

.align
  &.left
    text-align: left
  &.center
    text-align: center
  &.right
    text-align: right

input, textarea, select, fieldset, .row
  margin-bottom             : (1.5 * UNIT)

pre, blockquote, form, dl, figure, table, p, ul, ol, form
  margin-bottom             : (2 * UNIT)
