input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select
  width               : 100%
  height              : FORM-HEIGHT
  padding             : (UNIT / 2) (UNIT / 1.25)
  box-shadow          : none
  box-sizing          : border-box
  & :focus
    outline           : 0

input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea
  -webkit-appearance  : none
  -moz-appearance     : none
  appearance          : none

textarea
  min-height          : (7 * UNIT)
  padding-top         : (UNIT / 2)
  padding-bottom      : (UNIT / 2)

label, legend
  display             : block
  margin-bottom       : (UNIT / 2)
  font-size           : FONT-SIZE-SMALL
  font-weight         : 600

fieldset
  padding             : 0
  border-width        : 0
input[type="checkbox"], input[type="radio"]
  display             : inline

label > span
  display             : inline-block
  margin-left         : (UNIT / 2)
  font-weight         : normal
