// -- CONSTANTS ----------------------------------------------------------------
FONT-FAMILY                 = "Raleway"
FONT-SIZE                   = 1.5rem
FONT-SIZE                   = 15px
FONT-WEIGHT-NORMAL          = 400
FONT-SIZE-TINY              = 72.5%
FONT-SIZE-SMALL             = 90%
LINE-HEIGHT                 = 1.5rem
LINE-HEIGHT                 = 24px
UNIT                        = 1rem
FORM-HEIGHT                 = (2.5 * UNIT)

// -- BASE ---------------------------------------------------------------------
body
  font-size                 : FONT-SIZE
  line-height               : LINE-HEIGHT
  font-weight               : FONT-WEIGHT-NORMAL
  font-family               : "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif

.container
  position                  : relative
  width                     : 90%
  max-width                 : 960px
  margin                    : 0 auto
  padding                   : 0

.row
  display                   : block

.container, .row
  &:after
    content                 : ""
    display                 : table
    clear                   : both

.align
  &.left
    text-align: left
  &.center
    text-align: center
  &.right
    text-align: right
